header {
  background-color: #cc0000;
}

/* Unvisited link */
a:link {
  color: red;
}

/* Visited link */
a:visited {
  color: black;
}

/* Hovered link */
a:hover {
  color: #8b0000;
}

/* Selected link */
a:active {
  color: #dc143c;
}

img {
  width: 50px;
}


h1 {
  margin: 0;
  color: black;
  font-family: 'Bradley Hand', cursive;
  font-size:60px;
  text-align: center;
  /* text-align: center; */
  padding: 60px 0 20px 20px;
}

h2 {
  margin: 0;
  color: black;
  font-family: 'Bradley Hand', cursive;
  font-size: 50px;
  text-align: center;
}

h3 {
  margin: 0;
  color: black;
  font-family: 'Bradley Hand', cursive;
  font-size: 40px;
  text-align: center;
}

p {
  margin: 0;
  color: black;
  font-family: 'Bradley Hand', cursive;
  font-size: 25px;
  text-align: center;
}

ol {
  font-family: 'Bradley Hand', cursive;
  font-size: 20px;
  text-align: center;
}

ul {
  font-family: 'Bradley Hand', cursive;
  font-size: 25px;
  text-align: center;
}


